<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.classproject">
    <!-- Permission to allow the the application to  user the phone vibration -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SongsList"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicActivity"></activity> <!-- Broadcast reciever to trigger alarm after 5 seonds when the alarm button is tapped -->
        <receiver
            android:name=".AlarmBroadcastReciever"
            android:enabled="true"
            android:exported="true" /> <!-- Player service that allows playing the default user phone ringtone when the play button is clicked in the background. -->
        <service android:name=".PlayerService" />
    </application>

</manifest>